body {
  background-color: #f7f5f6;
}
a {
  color: #ff6c9d;
}
a.link-effect:before {
  background-color: #ff206a;
}
a:hover,
a:focus {
  color: #ff206a;
}
a:active {
  color: #ff6c9d;
}
.text-primary {
  color: #ff6c9d;
}
a.text-primary:hover,
a.text-primary:active,
a.text-primary:focus,
button.text-primary:hover,
button.text-primary:active,
button.text-primary:focus {
  color: #ff6c9d;
  opacity: .75;
}
.text-primary-dark {
  color: #4a5568;
}
a.text-primary-dark:hover,
a.text-primary-dark:active,
a.text-primary-dark:focus,
button.text-primary-dark:hover,
button.text-primary-dark:active,
button.text-primary-dark:focus {
  color: #4a5568;
  opacity: .75;
}
.text-primary-darker {
  color: #333a47;
}
a.text-primary-darker:hover,
a.text-primary-darker:active,
a.text-primary-darker:focus,
button.text-primary-darker:hover,
button.text-primary-darker:active,
button.text-primary-darker:focus {
  color: #333a47;
  opacity: .75;
}
.text-primary-light {
  color: #ff90b5;
}
a.text-primary-light:hover,
a.text-primary-light:active,
a.text-primary-light:focus,
button.text-primary-light:hover,
button.text-primary-light:active,
button.text-primary-light:focus {
  color: #ff90b5;
  opacity: .75;
}
.text-primary-lighter {
  color: #ffb9d0;
}
a.text-primary-lighter:hover,
a.text-primary-lighter:active,
a.text-primary-lighter:focus,
button.text-primary-lighter:hover,
button.text-primary-lighter:active,
button.text-primary-lighter:focus {
  color: #ffb9d0;
  opacity: .75;
}
.bg-primary {
  background-color: #ff6c9d;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #ff397b;
}
.bg-primary-op {
  background-color: rgba(255, 108, 157, 0.75);
}
a.bg-primary-op:hover,
a.bg-primary-op:focus {
  background-color: rgba(255, 57, 123, 0.75);
}
.bg-primary-dark {
  background-color: #4a5568;
}
a.bg-primary-dark:hover,
a.bg-primary-dark:focus {
  background-color: #353d4a;
}
.bg-primary-dark-op {
  background-color: rgba(74, 85, 104, 0.83);
}
a.bg-primary-dark-op:hover,
a.bg-primary-dark-op:focus {
  background-color: rgba(53, 61, 74, 0.83);
}
.bg-primary-darker {
  background-color: #333a47;
}
a.bg-primary-darker:hover,
a.bg-primary-darker:focus {
  background-color: #1e2229;
}
.bg-primary-light {
  background-color: #ff90b5;
}
a.bg-primary-light:hover,
a.bg-primary-light:focus {
  background-color: #ff5d93;
}
.bg-primary-lighter {
  background-color: #ffb9d0;
}
a.bg-primary-lighter:hover,
a.bg-primary-lighter:focus {
  background-color: #ff86ae;
}
.btn-primary {
  color: #ffffff;
  background-color: #ff6c9d;
  border-color: #ff397b;
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:hover {
  color: #ffffff;
  background-color: #ff4382;
  border-color: #fb0054;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #ff1060;
  border-color: #c80043;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #ff1060;
  border-color: #c80043;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ff6c9d;
  border-color: #ff397b;
}
.btn-primary .badge {
  color: #ff6c9d;
  background-color: #ffffff;
}
.label-primary {
  background-color: #ff6c9d;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #ff397b;
}
.badge-primary {
  background-color: #ff6c9d;
}
.progress-bar-primary {
  background-color: #ff6c9d;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #ff6c9d;
}
.nav-pills > li.active > a > .badge {
  color: #ff6c9d;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #ff6c9d;
  -webkit-box-shadow: 0 2px #ff6c9d;
  box-shadow: 0 2px #ff6c9d;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  color: #ff6c9d;
  -webkit-box-shadow: 0 2px #ff6c9d;
  box-shadow: 0 2px #ff6c9d;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #ff6c9d;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #ff6c9d;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #ff6c9d;
  border-color: #ff6c9d;
}
.list-group-item.active > .badge {
  color: #ff6c9d;
}
.tooltip-inner {
  background-color: #333a47;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #333a47;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #333a47;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #333a47;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #333a47;
}
.table-header-bg > thead > tr > th,
.table-header-bg > thead > tr > td {
  background-color: #ff6c9d;
  border-bottom-color: #ff6c9d;
}
.panel-primary {
  border-color: #ffb9d0;
}
.panel-primary > .panel-heading {
  color: #ff6c9d;
  background-color: #ffdce8;
  border-color: #ffb9d0;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #ffb9d0;
}
.panel-primary > .panel-heading .badge {
  color: #ffdce8;
  background-color: #ff6c9d;
}
.panel-primary > .panel-heading a {
  font-weight: 400;
}
.panel-primary > .panel-heading a:hover,
.panel-primary > .panel-heading a:focus {
  color: #ff397b;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #ffb9d0;
}
.header-navbar-transparent.header-navbar-fixed.header-navbar-scroll #header-navbar {
  background-color: #4a5568;
}
#page-container,
#sidebar {
  background-color: #333a47;
}
#main-container {
  background-color: #f7f5f6;
}
.nav-main-header {
  background-color: #333a47;
}
@media screen and (min-width: 992px) {
  .nav-main-header {
    background-color: transparent;
  }
  .nav-main-header ul {
    background-color: #4a5568;
  }
}
.form-material.form-material-primary > .form-control:focus {
  -webkit-box-shadow: 0 2px 0 #ff6c9d;
  box-shadow: 0 2px 0 #ff6c9d;
}
.form-material.form-material-primary > .form-control:focus + label {
  color: #ff6c9d;
}
.form-material.form-material-primary > .form-control:focus ~ .input-group-addon {
  color: #ff6c9d;
  -webkit-box-shadow: 0 2px 0 #ff6c9d;
  box-shadow: 0 2px 0 #ff6c9d;
}
.css-checkbox-primary input:checked + span {
  background-color: #ff6c9d;
  border-color: #ff6c9d;
}
.css-radio-primary input:checked + span:after,
.switch-primary input:checked + span {
  background-color: #ff6c9d;
}
.block > .nav-tabs > li > a:hover {
  color: #ff6c9d;
}
.block > .nav-tabs.nav-tabs-alt > li > a:hover {
  -webkit-box-shadow: 0 2px #ff6c9d;
  box-shadow: 0 2px #ff6c9d;
}
.block > .nav-tabs.nav-tabs-alt > li.active > a,
.block > .nav-tabs.nav-tabs-alt > li.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.active > a:focus {
  -webkit-box-shadow: 0 2px #ff6c9d;
  box-shadow: 0 2px #ff6c9d;
}
.irs-bar,
.irs-bar-edge,
.irs-from,
.irs-to,
.irs-single,
.irs-grid-pol {
  background: #ff6c9d;
}
.dropzone:hover {
  border-color: #ff6c9d;
}
.dropzone:hover .dz-message {
  color: #ff6c9d;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:focus,
.datepicker table tr td span.active:hover:focus,
.datepicker table tr td span.active.disabled:focus,
.datepicker table tr td span.active.disabled:hover:focus,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td span.active,
.open .dropdown-toggle.datepicker table tr td span.active:hover,
.open .dropdown-toggle.datepicker table tr td span.active.disabled,
.open .dropdown-toggle.datepicker table tr td span.active.disabled:hover {
  background-color: #ff6c9d;
  border-color: #ff6c9d;
}
div.tagsinput span.tag {
  background-color: #ff6c9d;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #ff6c9d;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ff6c9d;
}
